body {
  font-size: 50px;
  background-image: linear-gradient(blue, red);
  color: rgb(243, 228, 25);
}
button {
  font-size: 50px;
  background-color: rgb(243, 228, 25);
  border: none;
  border-radius: 20px;
  transition-duration: 0.4s;
}
button:hover {
  background-color: rgb(110, 104, 11);
}
input {
  font-size: 50px;
}
img {
  border-radius: 12.5%;
  width: 30%;
}
